<div class="project-details-nav">
    <div class="container js-project-nav-scroll">
        <div class="row">
            <div class="project-nav__links col-md-9">
                <a class="tabbed-nav__link" href="/projects/stoic/banner-saga-3/rewards">
                    <i class="ion-ios-checkmark text-green"></i> Basics
                </a>
                <a class="tabbed-nav__link" (click)="onOverviewClick()">
                    <i class="ion-ios-circle-outline"></i> Overview
                </a>
                <a class="tabbed-nav__link" href="/projects/stoic/banner-saga-3/description">
                    <i class="ion-ios-circle-outline"></i> Timeline
                </a>
                <a class="tabbed-nav__link" href="/projects/stoic/banner-saga-3/comments">
                    <i class="ion-ios-circle-outline"></i> Guidelines
                </a>
                <a class="tabbed-nav__link" data-content="community" href="/projects/stoic/banner-saga-3/community">
                    <i class="ion-ios-circle-outline"></i> About Us
                </a>
            </div>
            <div class="project-nav__buttons col-md-3 hidden-xs hidden-md text-right">
                <a class="btn btn-md btn-primary btn-fill">Submit to Review</a>
            </div>
        </div>
    </div>
</div>