
          <div  *ngIf="challenge">
                <form [formGroup]="challengeForm" (ngSubmit)="updateChallenge(challengeForm)">
                  <div class="content text-left">
                    <div class="form-input-group">
                      <div class="form-input clearfix">
                        <div class="form-group label-floating is-empty row card">
                          <div class="col-md-3"><label class="control-label light type-18"><sup class="text-gray">*</sup> Project image:</label></div>
                          <div class="col-md-9">
                            <app-validated-upload [imgSrc]="challenge.thumb" [control]="challengeForm.controls['img']"></app-validated-upload>
                          </div>
                        </div>

                      </div>
                    </div>
                    <div class="form-input-group">
                      <div class="form-input clearfix">
                        <div class="form-group label-floating is-empty row card">
                          <div class="col-md-3">
                            <label class="control-label light type-18" for="title"><sup class="text-gray">*</sup> Project title: </label>
                          </div>
                          <div class="col-md-9">
                            <input required type="text" class="form-control" formControlName="title"><span class="material-input"></span>
                            <div [hidden]="challengeForm.get('title').valid || challengeForm.get('title').untouched" class="alert alert-danger mt10">
                              <div *ngIf="challengeForm.get('title').hasError('required')">
                                Title is required!
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                    <div class="form-input-group">
                      <div class="form-input clearfix">
                        <div class="form-group label-floating is-empty row card">
                          <div class="col-md-3"><label class="control-label light type-18" for="description"><sup class="text-gray">*</sup> Description:</label></div>
                          <div class="col-md-9">
                            <textarea required type="description" class="form-control" formControlName="description"></textarea>
                            <div [hidden]="challengeForm.get('description').valid || challengeForm.get('description').untouched" class="alert alert-danger mt10">
                              <div *ngIf="challengeForm.get('description').hasError('required')">
                                Description is required!
                              </div>
                              <div *ngIf="challengeForm.get('description').hasError('maxlength')">
                                Description must be no more than 140 character!
                              </div>
                            </div>
                          </div>

                        </div>

                      </div>
                    </div>
                    <div class="form-input-group">
                      <div class="form-input clearfix">
                        <div class="form-group label-floating is-empty row card">
                          <div class="col-md-3"><label class="control-label light type-18" for="prize"><sup class="text-gray">*</sup> Prize:</label></div>
                          <div class="col-md-9">
                            <input required type="prize" class="form-control" formControlName="prize">
                            <div [hidden]="challengeForm.get('prize').valid || challengeForm.get('prize').untouched" class="alert alert-danger mt10">
                              <div *ngIf="challengeForm.get('prize').hasError('required')">
                                Prize is required!
                              </div>
                              <div *ngIf="challengeForm.get('prize').hasError('pattern')">
                                Prize must be a number!
                              </div>
                            </div>
                          </div>

                        </div>

                      </div>
                    </div>

                    <div class="form-input-group">
                      <div class="form-input clearfix">
                        <div class="form-group label-floating is-empty row card">
                          <div class="col-md-3"><label class="control-label light type-18"><sup class="text-gray">*</sup> Categories:</label></div>
                          <div class="col-md-9" style="padding: 15px">
                            <app-validated-multicheckbox [control]="challengeForm.controls['categories']" [options]="categoryOptions" [model]="challengeForm.controls['categories']">
                            </app-validated-multicheckbox>
                            <!--<div class="alert alert-danger mt10">
                                <div>
                                    Category is required!
                                </div>

                            </div>-->
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="alert alert-info alert-edit navbar-fixed-bottom">
                    <div class="col-md-8"></div>
                    <div class="col-md-4 text-right"><button [disabled]="isSubmitting" type="submit" class="btn btn-white">
                      <span *ngIf="!isSubmitting">Save changes</span>
                      <span *ngIf="isSubmitting">Saving ...</span>
                    </button></div>

                  </div>
                </form>
                <div class="row pull-right">
                  <button [disabled]="isSubmitting" (click)="deleteChallenge()" class="btn btn-primary btn-simple">
                    <i class="ion-ios-close"></i> Delete project
                  </button>
                </div>
              </div>
