<pre>
    Publish Tasks
Before we can publish your challenge live, you need to complete the following tasks. Click here to edit your challenge.
 Prize
Set the total prize amount.
 Categories
Choose appropriate categories for your challenge.
 Short Description
Describe the challenge in 140 characters or less.
 Overview
Write a compelling and inspiring challenge overview.
 Image
Upload an image that illustrates your challenge.
NOTE: This section is only visible to challenge administrators.
</pre>



<form [formGroup]="challengeForm" (ngSubmit)="createChallenge(challengeForm)">
    <div class="content">
        <div class="input-group">
            <span class="input-group-addon">
            <i class="ion-at"></i>
        </span>
            <div class="form-group label-floating is-empty">
                <input required type="text" class="form-control" formControlName="title"><span class="material-input"></span>
                <label class="control-label" for="title">Title*</label>
            </div>
        </div>
        <div [hidden]="challengeForm.get('title').valid || challengeForm.get('title').untouched" class="alert alert-danger">
            <div *ngIf="challengeForm.get('title').hasError('required')">
                Title is required!
            </div>
        </div>

        <div class="input-group">
            <span class="input-group-addon">
            <i class="ion-locked"></i>
        </span>
            <div class="form-group label-floating is-empty">
                <input required type="description" class="form-control" formControlName="description">
                <span class="material-input"></span>
                <label class="control-label" for="description">Description*</label>
            </div>
        </div>
        <div [hidden]="challengeForm.get('description').valid || challengeForm.get('description').untouched" class="alert alert-danger">
            <div *ngIf="challengeForm.get('description').hasError('required')">
                Description is required!
            </div>
            <div *ngIf="challengeForm.get('description').hasError('maxlength')">
                Description must be no more than 140 character!
            </div>
        </div>


        <div class="input-group">
            <span class="input-group-addon">
                <i class="ion-locked"></i>
            </span>
            <div class="form-group label-floating is-empty">
                <input required type="prize" class="form-control" formControlName="prize">
                <span class="material-input"></span>
                <label class="control-label" for="prize">Prize*</label>
            </div>
        </div>
        <div [hidden]="challengeForm.get('prize').valid || challengeForm.get('prize').untouched" class="alert alert-danger">
            <div *ngIf="challengeForm.get('prize').hasError('required')">
                Prize is required!
            </div>
            <div *ngIf="challengeForm.get('prize').hasError('pattern')">
                Prize must be a number!
            </div>
        </div>

        <!--File upload and preview-->
        <!--<input #fileInput type="file" (change)="fileChangeEvent($event)" accept="image/*" />-->
        <input type="file" (change)="fileChangeEvent($event)" accept="image/*" />
        <img [attr.src]='imgSrc' alt="" width=300>

        <div class="input-group" *ngIf="categoryOptions && categoryOptions.length > 0">
            <label for="categories">Categories*</label>
            <app-validated-multicheckbox [control]="challengeForm.controls['categories']" [options]="categoryOptions" [model]="challengeForm.controls['categories']">
            </app-validated-multicheckbox>
        </div>
    </div>
    <div class="footer text-center">
        <button type="submit" [disabled]="!challengeForm.valid" class="btn btn-primary">Create Challenge</button>
    </div>
</form>