<div class="relative">
<div *ngIf="selectedUser"  class="bg-grey-400 text-center">
  <div class="container">
    <div><img class="avatar" [src]="selectedUser.avatar"></div>
    <div class="type-28 bold text-primary">{{selectedUser.displayName}}</div>
    <div class="type-12 text-time">
      Join: {{selectedUser.created | date:"MM/dd/yyyy"}}
    </div>
  </div>

</div>
<div *ngIf="selectedUser">
  <app-profile-navigator [selectedUser]="selectedUser" [isMine]="isMine" [current]="current"></app-profile-navigator>
</div>
<div class="main-frame bg-grey-200">
  <router-outlet></router-outlet>
</div>
<div *ngIf="selectedUser && current == ''" class="bg-grey-200 about-frame">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="row">
          <div class="col-md-4 type-16 bold text-gray">Biography:</div>
          <div class="col-md-8">
            <span *ngIf="!selectedUser.bio">Not have a biography yet</span>
            <span *ngIf="selectedUser.bio">{{selectedUser.bio}}</span>
          </div>
        </div>
        <div class="divider"></div>
        <div class="row">
          <div class="col-md-4 type-16 bold text-gray">Website:</div>
          <div class="col-md-8">
            <span *ngIf="!selectedUser.website">Not have a website yet</span>
            <span *ngIf="selectedUser.website">{{selectedUser.website}}</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<div *ngIf="categories && user && isMine && !user.recommendations.length" class="popup-recommendations bg-grey-400 text-center">
    <h1 class="text-primary">One more step.</h1>
    <p class="type-18">Choose your favorite categories</p>
    <div class="row categories-frame">
      <div class="col-md-8 col-md-offset-2">
        <a *ngFor="let category of categories" (click)="chooseCategory(category)"  class="btn btn-primary" [ngClass]="{'btn-fill': category.isChoose}"><i *ngIf="category.isChoose" class="ion-ios-checkmark"></i> {{category.title}}</a>
      </div>
    </div>
    <div class="row text-center">
      <a (click)="pickAllCategories()" class="btn btn-lg btn-primary btn-simple"><i class="ion-heart"></i> All of them</a>
      <a (click)="pickCategories()" class="btn btn-lg btn-primary btn-fill">Next to profile</a>
    </div>
</div>
</div>
