.about-frame{
  min-height: 300px;
}
.avatar{
  margin: 20px;
  width: 120px;
  border-radius: 50%;
}
.text-gray{
  color: #aaa;
}
.text-time{
  color: #aaa;
  margin-bottom: 20px;
}
.main-frame{
  padding-top: 20px;
}
.popup-recommendations{
  position: fixed;
  top: 70px;
  left: 0;
  z-index: 500;
  width: 100%;
  height: calc(100% - 70px);
}
.categories-frame{
  padding-top: 30px;
  padding-bottom: 30px;
}
.categories-frame a{
  margin: 10px;
}
