<!--File upload and preview-->
<!--<input #fileInput type="file" (change)="fileChangeEvent($event)" accept="image/*" />-->
<input type="file" (change)="fileChangeEvent($event)" accept="image/*" />
<img [attr.src]='imgSrc' alt="" width=300>
<!--<div [hidden]="challengeForm.get('img').valid || challengeForm.get('img').untouched" class="alert alert-danger">
            <div *ngIf="challengeForm.get('img').hasError('required')">
                Image is required!
            </div>
        </div>-->
<div [hidden]="isValid || numberOfClicks === 0" class="alert alert-danger">
    <div *ngFor="let errorMessage of errorMessages">
        {{errorMessage}}
    </div>
</div>