<form [formGroup]="commentForm" (ngSubmit)="createComment(commentForm)">
    <div class="w100">
      <textarea required id="comment" type="text" class="form-control" placeholder="Comment here ..." formControlName="content"
             [ngModel]="content"></textarea>
      <div class="clearfix w100 content card">
        <div *ngIf="comments && !comments.length" class="pull-left first-comment type-18 light">Be the first person to comment ...</div>
        <div class="pull-right">
          <button type="submit" [disabled]="!commentForm.valid || isSubmitting" class="btn btn-primary btn-sm btn-fill text-center">
            <i class="ion-ios-paperplane"></i> Post
          </button>
        </div>
      </div>
    </div>
</form>
