<div class="site-nav-frame" [ngClass]="{'site-nav--search-is-visible': isSearching}" role="navigation">
  <div class="site-nav-container site-nav-container--search" id="js-nav-search" aria-hidden="true">
    <div class="site-nav-unit site-nav-unit--search">
      <nav class="site-nav-base site-nav--search">
        <div class="site-nav__left">
          <div class="site-nav__item site-nav__item--searchbar js-searchbar js-header-livesearch" [ngClass]="{'site-nav__item--searchbar--visible': isSearching}">
            <form class="site-nav__search-form" role="search" action="/projects/search" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓">
              <div class="icon__search"><i class="ion-ios-search-strong" id="ion-ios-search-strong"></i></div>
              <input type="text" name="term" id="term" aria-label="Search projects" placeholder="Search" class="site-nav__search-input js-search-term text" tabindex="-1" autocomplete="off">
            </form>

          </div>
        </div>
        <div class="site-nav__right">
          <button (click)="onCloseSearch()" class="btn btn-primary btn-simple site-nav__item--close" id="btn-search-close"><i class="ion-ios-close large"></i></button>
        </div>
      </nav>
    </div>
  </div>
  <div class="site-nav-container site-nav-container--main active-nav--primary">
    <div class="site-nav-unit site-nav-unit--primary" id="js-nav-primary">
      <nav class="site-nav-base site-nav--primary">
        <div class="site-nav__left">
          <a aria-controls="NS_discovery_overlay" aria-expanded="false" aria-haspopup="true" class="site-nav__item site-nav__item--text" (click)="onClickExplore()">
            <span class="site-nav__item-label">Explore</span>
          </a>
          <a class="site-nav__item site-nav__item--text" (click)="onCreateChallenge()">
            <span class="site-nav__item-label">Create <span class="hidden-xs">a challenge</span></span>
          </a>
          <a class="site-nav__item site-nav__item--text site-nav__item--about" href="/recommendations?ref=nav">
            <span class="site-nav__item-label">For you</span>
          </a>
        </div>
        <div class="site-nav__middle">
          <a class="site-nav__item site-nav__item--logo" href="/?ref=nav">
            <div class="svg--ksr-logo">
              Crowdbam
            </div>
          </a>

        </div>
        <div class="site-nav__right">

          <a aria-label="Enter Search" class="site-nav__item site-nav__item--search js-toggle-search" data-nav="search" (click)="onClickSearch()">
            <button class="btn btn-primary btn-simple" id="btn-search-open"><i class="ion-ios-search-strong  large"></i></button>
            <span class="site-nav__item-label">Enter Search</span>
          </a>

          <a *ngIf="user" (click)="onToggleMenu()" class="site-nav__item site-nav__item--user bg-grey-200" aria-label="User dropdown menu" data-toggle="dropdown" aria-expanded="false">
            <div class="notification-indicator-and-avatar">
              <img class="site-nav__user-avatar" [src]="user.avatar">
            </div>
          </a>


          <div *ngIf="!user" class="site-nav__item site-nav__item--user bg-grey-200">
            <a (click)="onLoginClick()" class="btn btn-primary btn-login">Login <span class="hidden-xs">/ Sign up</span></a>
          </div>
        </div>
      </nav>
    </div>

  </div>
</div>
<div>
  <div id="filter-frame" class="block fixed scroll-y webkit-scrolling transition-all z9000 bg-grey-100" [ngClass]="{'hide': !isExploringHide}">
    <div id="filter-content" class="filter" [ngClass]="{'translate': !isExploringTrans}">
      <div class="container relative item-translate transition-all transition-delay-400">
        <div class="absolute filter-close">
          <a (click)="onCloseExplore()" aria-label="Close">
            <i class="ion-ios-close large"></i>
          </a>
        </div>
      </div>

      <div class="container item-translate transition-all transition-delay-200">
        <div class="row">
          <div class="col-md-12">
            <h1 class="border-bottom type-16 filter-heading">
              Collections
            </h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h2 class="filter-title type-34"><a>Recommended</a></h2>
            <h2 class="filter-title type-34"><a>Most popular</a></h2>
            <h2 class="filter-title type-34"><a>Most newest</a></h2>
          </div>
        </div>
      </div>
      <div class="container item-translate transition-all transition-delay-300">
        <div class="row">
          <div class="col-md-12">
            <h1 class="border-bottom type-16 filter-heading">
              Categories
            </h1>

          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h2 class="filter-title type-34"><a [routerLink]="['categories/','art']" [queryParams]="{'sort':'newest'}">Categories #1</a></h2>
            <h2 class="filter-title type-34"><a>Categories #2</a></h2>
            <h2 class="filter-title type-34"><a>Categories #3</a></h2>
            <h2 class="filter-title type-34"><a>Categories #4</a></h2>
            <h2 class="filter-title type-34"><a>Categories #5</a></h2>
            <h2 class="filter-title type-34"><a>Categories #6</a></h2>
            <h2 class="filter-title type-34"><a>Categories #7</a></h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="user" [hidden]="!isOpeningMenu" class="user-menu">
    <div class="user-dropdown js-user-dropdown creator selected">
      <div class="row user-options">
        <div class="col-md-6">

          <h3 class="dropdown-menu-header">
            My stuff
          </h3>
          <ul class="js-dropdown_group dd-menu">
            <li><a href="/recommendations?ref=user_menu">Recommended for you</a></li>
            <li><a href="/profile/665783157?ref=user_menu">Profile</a></li>
            <li><a href="/profile/backings?ref=user_menu">Follow projects</a></li>
            <li><a href="/profile/projects?ref=user_menu">My projects</a></li>
          </ul>

        </div>
        <div class="col-md-6">
          <h3 class="dropdown-menu-header">
            Settings
          </h3>
          <ul class="js-dropdown_group dd-menu">
            <li><a href="/settings/profile?ref=user_menu">Edit profile</a></li>
            <li><a href="/settings/notifications?ref=user_menu">Notifications</a></li>
          </ul>
        </div>
      </div>
      <div class="user-menu-footer">
          <div>
            You're logged in as <b>{{user.displayName}}</b>
            &nbsp;
            <a (click)="onLogoutClick()">Log out</a>
          </div>
      </div>
    </div>

</div>
