<div class="site-nav-frame" [ngClass]="{'site-nav--search-is-visible': isSearching}" role="navigation">
  <div class="site-nav-container site-nav-container--search" id="js-nav-search" aria-hidden="true">
    <div class="site-nav-unit site-nav-unit--search">
      <nav class="site-nav-base site-nav--search">
        <div class="site-nav__left">
          <div class="site-nav__item site-nav__item--searchbar js-searchbar js-header-livesearch" [ngClass]="{'site-nav__item--searchbar--visible': isSearching}">
            <form class="site-nav__search-form" role="search">
              <div class="icon__search"><i class="ion-ios-search-strong" id="ion-ios-search-strong"></i></div>
              <input type="text" #input [(ngModel)]=query [ngModelOptions]="{standalone: true}"  (keyup)=filter() aria-label="Search projects" placeholder="Search" class="site-nav__search-input js-search-term text" tabindex="-1" autocomplete="off">
            </form>

          </div>
        </div>
        <div class="site-nav__right">
          <a (click)="onCloseSearch()" class="btn btn-primary btn-simple site-nav__item--close" id="btn-search-close"><i class="ion-ios-close large"></i></a>
        </div>
      </nav>
    </div>
  </div>
  <div class="site-nav-container site-nav-container--main active-nav--primary">
    <div class="site-nav-unit site-nav-unit--primary" id="js-nav-primary">
      <nav class="site-nav-base site-nav--primary">
        <div class="site-nav__left">
          <a aria-controls="NS_discovery_overlay" aria-expanded="false" aria-haspopup="true" class="site-nav__item site-nav__item--text" (click)="onClickExplore()">
            <span class="site-nav__item-label">Explore</span>
          </a>
          <a class="site-nav__item site-nav__item--text" (click)="onCreateChallenge()">
            <span class="site-nav__item-label">Create <span class="hidden-xs">a challenge</span></span>
          </a>
          <a class="site-nav__item site-nav__item--text site-nav__item--about" [routerLink]="['/recommendations']" [queryParams]="{'sort':'created'}">
            <span class="site-nav__item-label">For you</span>
          </a>
        </div>
        <div class="site-nav__middle">
          <a class="site-nav__item site-nav__item--logo" [routerLink]="['/']">
            <div class="crowdbam-logo text-center">
              Crowdbam
            </div>
          </a>

        </div>
        <div class="site-nav__right">

          <a aria-label="Enter Search" class="site-nav__item site-nav__item--search js-toggle-search" data-nav="search" (click)="onClickSearch()">
            <button class="btn btn-primary btn-simple" id="btn-search-open"><i class="ion-ios-search-strong  large"></i></button>
            <span class="site-nav__item-label">Enter Search</span>
          </a>

          <a *ngIf="user" (click)="onToggleMenu()" class="site-nav__item site-nav__item--user bg-grey-200" aria-label="User dropdown menu" data-toggle="dropdown" aria-expanded="false">
            <div class="notification-indicator-and-avatar">
              <img class="site-nav__user-avatar" [src]="user.avatar"><span class="hidden-xs"> {{user.displayName.split(' ')[0]}} <i class="ion-arrow-down-b"></i></span>
            </div>
          </a>


          <div *ngIf="!user" class="site-nav__item site-nav__item--user bg-grey-200">
            <a (click)="onLoginClick()" class="btn btn-primary btn-login">Login <span class="hidden-xs">/ Sign up</span></a>
          </div>
        </div>
      </nav>
    </div>

  </div>
</div>
<div *ngIf="user" [hidden]="!isOpeningMenu" class="user-menu">
    <div class="user-dropdown js-user-dropdown creator selected">
      <div class="row user-options">
        <div class="col-md-6">

          <h3 class="dropdown-menu-header">
            My stuff
          </h3>
          <ul class="js-dropdown_group dd-menu">
            <li><a [routerLink]="['/recommendations']" (click)="onToggleMenu()">Recommended for you</a></li>
            <li><a [routerLink]="['/profiles',user._id]" (click)="onToggleMenu()">Profile</a></li>
            <li><a [routerLink]="['/profiles',user._id,'follows']" (click)="onToggleMenu()">Follow challenges</a></li>
            <li><a [routerLink]="['/profiles',user._id,'challenges']" (click)="onToggleMenu()">My challenges</a></li>
          </ul>

        </div>
        <div class="col-md-6">
          <h3 class="dropdown-menu-header">
            Settings
          </h3>
          <ul class="js-dropdown_group dd-menu">
            <li><a [routerLink]="['/profiles',user._id,'settings']"  (click)="onToggleMenu()">Edit profile</a></li>
            <li><a  (click)="onToggleMenu()">Admin profile</a></li>
            <!--<li><a href="/settings/notifications?ref=user_menu">Notifications</a></li>-->
          </ul>
        </div>
      </div>
      <div class="user-menu-footer">
          <div>
            You're logged in as <b>{{user.displayName}}</b>
            &nbsp;
            <a (click)="onLogoutClick()">Log out</a>
          </div>
      </div>
    </div>

</div>
<div [hidden]="!searchBegin" class="livesearch-wrap js-livesearch-wrap">
  <div class="livesearch-container js-livesearch-container">
    <h3 class="livesearch-header"></h3>
    <div class="livesearch-results js-livesearch-results" id="livesearch-results">
      <ul class="livesearch-list" id="livesearch-list">
        <li *ngFor="let challenge of filteredList" class="livesearch-result js-livesearch-result">
          <app-card-challenge [challenge]="challenge"></app-card-challenge>
        </li>
      </ul>
    </div>
    <div>
      <a *ngIf="searchFinished && filteredList.length" (click)="onCloseSearch()" [routerLink]="['search']" [queryParams]="{'text':query,'sort':'popular'}" class="livesearch-see-all-results btn">See all results for <span class="bold">{{query}}</span></a>
      <a *ngIf="searchFinished && !filteredList.length" class="livesearch-see-all-results btn">No result for <span class="bold">{{query}}</span></a>
      <div class="grey-dark small_type js-livesearch-displaying-results mt3 mt5-sm hidden"></div>
    </div>
    <button [disabled]="currentPage==1" (click)="preSearchPage()" class="js-prev prev arrow">
      <div aria-label="Previous results" class="icon__arrow-left"><i class="ion-ios-arrow-back"></i></div>
    </button>
    <button [disabled]="currentPage >= maxPage" (click)="nextSearchPage()" class="js-next next arrow">
      <div aria-label="Next results" class="icon__arrow-right"><i class="ion-ios-arrow-forward"></i></div>
    </button>
  </div>
</div>
