
.btn-login{
  margin: 10px auto;
}

@media screen and (max-width: 768px) {
  .site-nav__right .site-nav__item{
    margin-right: 0;
  }
  .filter-heading{
    margin-top: 0!important;
  }
  .filter-close {
    top: 10px;
  }
}
.noti-user{
  position: absolute;
  top: 20px;
  left: 20px;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 1.25em;
  padding: 0;
  border: none;
  line-height: 20px;
  background: #fff;
}
