<!--COMMENT-->

<div class="row" *ngIf="id && comments" >
  <div class="col-md-8">
    <ul class="project-details-comments">
      <div class="row clearfix comment-from-frame">
        <div class="avatar">
          <img *ngIf="user" class="circle img-responsive" [src]="user.avatar" alt="">
        </div>
        <div class="comment-form"><app-comment-form [id]="id" [comments]="comments"></app-comment-form></div>
      </div>


      <app-comment *ngFor="let comment of comments" [comment]="comment" [comments]="comments" [id]="id"></app-comment>


      <!--<li class="project-details-comment">-->
      <!--<div class="comment-inner">-->
      <!--<div class="avatar pull-left">-->
      <!--<a href="/profile/1604818639">-->
      <!--<img class="circle img-responsive" src="https://ksr-ugc.imgix.net/missing_user_avatar.png?w=80&amp;h=80&amp;fit=crop&amp;v=&amp;auto=format&amp;q=92&amp;s=8f7172b83a603c1a2355dce4a017420b">-->
      <!--</a>-->
      <!--</div>-->
      <!--<div class="content clearfix">-->
      <!--<h3>-->
      <!--<a class="author green-dark" href="/profile/1604818639">Spencer</a>-->
      <!--<span>11 minutes ago</span>-->
      <!--</h3>-->
      <!--<p>@Vincent This campaign is purely digital. The bottom of the kickstarter campaign states this and it is the-->
      <!--reason for no shipping amount being charge.</p>-->
      <!--<span class="loading icon-loading-small" style="display:none;"></span>-->
      <!--<div class="clearfix">-->
      <!--<div class="pull-left">-->
      <!--<a class="btn btn-primary btn-simple"><i class="ion-thumbsup large"></i></a>-->
      <!--</div>-->
      <!--<div class="pull-left type-12 comment-thumb-count">-->
      <!--200-->
      <!--</div>-->
      <!--</div>-->
      <!--<ul class="project-details-comments">-->
      <!--<li class="project-details-comment">-->
      <!--<div class="comment-inner">-->
      <!--<div class="avatar pull-left">-->
      <!--<a href="/profile/1604818639">-->
      <!--<img class="circle img-responsive" src="https://ksr-ugc.imgix.net/missing_user_avatar.png?w=80&amp;h=80&amp;fit=crop&amp;v=&amp;auto=format&amp;q=92&amp;s=8f7172b83a603c1a2355dce4a017420b">-->
      <!--</a>-->
      <!--</div>-->
      <!--<div class="content clearfix">-->
      <!--<h3>-->
      <!--<a class="author green-dark" href="/profile/1604818639">Spencer</a>-->
      <!--<span>11 minutes ago</span>-->
      <!--</h3>-->
      <!--<p>@Vincent This campaign is purely digital. The bottom of the kickstarter campaign states this and it-->
      <!--is the reason for no shipping amount being charge.</p>-->
      <!--<span class="loading icon-loading-small" style="display:none;"></span>-->
      <!--<div class="clearfix">-->
      <!--<div class="pull-left">-->
      <!--<a class="btn btn-primary btn-simple"><i class="ion-thumbsup large"></i></a>-->
      <!--</div>-->
      <!--<div class="pull-left type-12 comment-thumb-count">-->
      <!--200-->
      <!--</div>-->

      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--</li>-->
      <!--</ul>-->
      <!--</div>-->
      <!--</div>-->
      <!--</li>-->
    </ul>

  </div>
  <div class="col-md-4">

  </div>
</div>
