<div class="p20 pb0"><h3>{{action}}</h3></div>
<app-form-register *ngIf="action=='Sign up'"></app-form-register>
<app-form-login *ngIf="action=='Login'"></app-form-login>
<div *ngIf="action=='Login'" class="text-center">
  <div class="split">
    <div class="text-center w100 line-choose"><span>or</span></div>
  </div>

  <div class="social-btn">
    <button class="btn w100 btn-fill btn-facebook" (click)="loginFacebook()">Login by Facebook</button>
  </div>
  <div class="social-btn">
    <button class="btn w100 btn-fill btn-google" (click)="loginGoogle()">Login by Google</button>
  </div>

</div>
<div class="w100 bg-grey-400 p20 text-center">
  {{actionTitle}} <a (click)="changeAction()" class="bold">{{actionLabel}}</a>
</div>

