<li *ngIf="comment && comments" class="project-details-comment">
  <div class="comment-inner">
    <div class="avatar pull-left">
      <a href="/profile/1604818639">
        <!--<img class="circle img-responsive" src="https://ksr-ugc.imgix.net/missing_user_avatar.png?w=80&amp;h=80&amp;fit=crop&amp;v=&amp;auto=format&amp;q=92&amp;s=8f7172b83a603c1a2355dce4a017420b">-->
        <img class="circle img-responsive" [src]="comment.creator.avatar">
      </a>
    </div>
    <div class="content clearfix">
      <h3>
        <a class="author green-dark" [routerLink]="['/users/',comment.creator._id]">{{comment.creator.displayName}}</a>
        <!--<span>11 minutes ago</span>-->
        <span>{{time | timesince}} ago</span>
      </h3>
      <p>{{comment.content}}</p>
      <span class="loading icon-loading-small" style="display:none;"></span>
      <!--<div class="clearfix">-->
        <!--<div class="pull-left">-->
          <!--<a class="btn btn-primary btn-simple"><i class="ion-thumbsup large"></i></a>-->
        <!--</div>-->
        <!--<div class="pull-left type-12 comment-thumb-count">-->
          <!--200-->
        <!--</div>-->
      <!--</div>-->
      <a class="type-12 mt10" *ngIf="!comment.comment" (click)="onReplyClick()">Reply</a>
      <div class="mt10">
        <app-comment-form *ngIf="commentFormOpenned" [id]="id" [comment]="comment" [comments]="comments"></app-comment-form>
        <app-comment *ngFor="let comment of comment.comments" [comment]="comment" [comments]="comments"></app-comment>
      </div>
    </div>
  </div>
</li>
