<!--<div *ngIf="challenge">-->
<!--{{challenge.title}}-->
<!--<img [src]="challenge.thumb" width=100 alt="{challenge.title}}">-->
<!--<button>Pre-register</button>-->
<!--<div>-->
<!--State ?? total prize amount <strong>${{challenge.prize}}</strong>-->
<!--</div>-->
<!--<button (click)="onEditChallengeClick()">Edit challenge</button>-->
<!--</div>-->

<section *ngIf="challenge" class="project-details bg-grey-100">
    <div class="container">

        <select [(ngModel)]="name" name="Select name" class="ui fluid search selection dropdown"> 
        <option *ngFor="let n of names" [attr.value]="n">{{n}}</option>
      </select>

        <div class="row project-details-header">
            <div class="col-md-2 text-left">
                <div>
                    <img class="circle project-details-avatar" [src]="challenge.creator.avatar">
                </div>
                <div>
                    By <span class="bold">{{challenge.creator.displayName}}</span>
                </div>
            </div>
            <div class="col-md-8 text-left">
                <h3 class="bold project-details-title type-28">{{challenge.title}}</h3>
                <p class="project-details-des">{{challenge.description}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <img class="img-responsive" [src]="challenge.thumb">

            </div>
            <div class="col-md-4">
                <div class="project-details-line-top"></div>
                <div class="project-details-statics row">
                    <div class="project-details-static col-md-6 col-xs-6">
                        <p class="project-details-static-title text-primary bold">${{challenge.prize}}</p>
                        <p class="project-details-static-des">prizes</p>
                    </div>
                    <div class="project-details-static col-md-6 col-xs-6">
                        <p class="project-details-static-title text-primary bold">Enter</p>
                        <p class="project-details-static-des">stage</p>
                    </div>
                    <div class="project-details-static col-md-6 col-xs-6">
                        <p class="project-details-static-title bold">{{challenge.follows.length}}</p>
                        <p class="project-details-static-des">follows</p>
                    </div>
                    <div class="project-details-static col-md-6 col-xs-6">
                        <p class="project-details-static-title bold">{{challenge.shares.length}}</p>
                        <p class="project-details-static-des">shares</p>
                    </div>
                    <div class="project-details-static col-md-12 col-xs-12">
                        <div class="clearfix">
                            <div class="pull-left time-element">
                                <p class="project-details-static-title bold">00</p>
                                <p class="project-details-static-des">days</p>
                            </div>
                            <div class="pull-left time-element">
                                <p class="project-details-static-title bold">:</p>
                            </div>
                            <div class="pull-left time-element">
                                <p class="project-details-static-title bold">12</p>
                                <p class="project-details-static-des">hrs</p>
                            </div>
                            <div class="pull-left time-element">
                                <p class="project-details-static-title bold">:</p>
                            </div>
                            <div class="pull-left time-element">
                                <p class="project-details-static-title bold">24</p>
                                <p class="project-details-static-des">min</p>
                            </div>
                            <div class="pull-left time-element">
                                <p class="project-details-static-title bold">:</p>
                            </div>
                            <div class="pull-left time-element">
                                <p class="project-details-static-title bold">50</p>
                                <p class="project-details-static-des">sec</p>
                            </div>
                        </div>
                        <p class="project-details-static-des">time left to <span class="bold">Enter</span></p>
                    </div>
                </div>
                <div>
                    <button class="btn btn-block btn-lg btn-primary btn-fill">Give solution</button>
                </div>
                <div class="row btn-social-group">
                    <div class="col-xs-6">
                        <button class="bttn bttn-medium bttn-shadow-light w100"><i class="ion-ios-star"></i> Follow</button>
                    </div>
                    <div class="col-xs-6">
                        <button class="bttn bttn-medium bttn-shadow-light w100"><i class="ion-ios-redo"></i> Share</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-challenge-navigator [id]="id" [types]="types"></app-challenge-navigator>
     
    <div class="project-details-main">
       <div class="container">
           <router-outlet></router-outlet>
        </div>
    </div>
    <div class="alert alert-info alert-edit navbar-fixed-bottom">
        <div class="col-md-8">
            <p>This challenge cannot be published yet. View your checklist to see what tasks still need to be completed.</p>
        </div>
        <div class="col-md-4 text-right"><a class="btn btn-white" (click)="onEditChallengeClick()">Edit Challenge</a></div>

    </div>
</section>