.btn i.large{
  font-size: 1.5em;
}
.btn-w100p{
  width: 100%;
}
.pb0{
  padding-bottom: 0;
}
.circle{
  border-radius: 50%;
}
.bold{
  font-weight: bold;
}
.normal{
  font-weight: normal;
}
.light{
  font-weight: 300;
}
.p10{
   padding: 10px;
 }
.p20{
  padding: 20px;
}
.social-btn{
  padding: 0 20px 10px;
}
.text-gray{
  color: #666;
}
.text-green{
  color: #1ab83a !important;
}
.fixed{
  position: fixed;
}
.absolute{
  position: absolute;
}
.relative{
  position: relative;
}
.block {
  display: block
}

.inline-block {
  display: inline-block
}

.display-inline {
  display: inline
}
.btn-white{
  border-color: #fff;
  color: #fff;
}
.btn-white:hover{
  background: #fff;
  color: #3472F7;
  border-color: #fff;
  /*font-weight: bold;*/
}
.display-none {
  display: none
}
.text-blue{
  color: #0B055E!important;
}
.bg-blue{
  background: #0B055E!important;
}
a{
  color: #3472F7;
}
.mt10{
  margin-top: 10px;
}
.bttn {
  display: inline-block;
  border-radius: 2px;
  font-weight: 500;
  transition: all 300ms cubic-bezier(0.175, 0.885, 0.335, 1);
  text-align: center;
  line-height: 1;
  cursor: pointer;
  background-color: #fff;
  border: none;
}
.bttn-medium {
  padding: 1.8rem 3rem;
  font-size: 1.4rem;
}
.bttn-shadow-light {
  color: #626369 !important;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px 0 #DCDEDD
}

.bttn-shadow-light:hover {
  background-color: #F7F7F9
}

.webkit-scrolling {
  -webkit-overflow-scrolling: touch
}

.transition-all {
  -webkit-transition: all 360ms cubic-bezier(0.175, 0.885, 0.335, 1);
  -moz-transition: all 360ms cubic-bezier(0.175, 0.885, 0.335, 1);
  -ms-transition: all 360ms cubic-bezier(0.175, 0.885, 0.335, 1);
  -o-transition: all 360ms cubic-bezier(0.175, 0.885, 0.335, 1);
  transition: all 360ms cubic-bezier(0.175, 0.885, 0.335, 1);
}
.transition-delay-200 {
  -webkit-transition-delay: 200ms;
  -moz-transition-delay: 200ms;
  -ms-transition-delay: 200ms;
  -o-transition-delay: 200ms;
  transition-delay: 200ms
}
.transition-delay-300 {
  -webkit-transition-delay: 300ms;
  -moz-transition-delay: 300ms;
  -ms-transition-delay: 300ms;
  -o-transition-delay: 300ms;
  transition-delay: 300ms
}
.transition-delay-400 {
  -webkit-transition-delay: 400ms;
  -moz-transition-delay: 400ms;
  -ms-transition-delay: 400ms;
  -o-transition-delay: 400ms;
  transition-delay: 400ms
}
.alert.alert-danger{
  border-radius: 4px;
}
.z9000 {
  z-index: 9000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.scroll {
  overflow: scroll
}

.scroll-x {
  overflow-x: scroll
}

.scroll-y {
  overflow-y: scroll
}

.bg-grey-500 {
  background-color: #DCDEDD
}

.bg-grey-400 {
  background-color: #EDEDED
}

.bg-grey-300 {
  background-color: #F2F2F2
}

.bg-grey-200 {
  background-color: #F7F7F6
}

.bg-grey-100 {
  background-color: #FBFBFA
}
a{
  cursor: pointer;
}
a:hover{
  color: #0B055E;

}
.w100{
  width: 100%;
}
.border-bottom {
  border-bottom: 0.1rem solid #0B055E;
}
/* USER */

.user-dropdown {
  background-color: #FFFFFF;
  border-color: #F1EEEA;
  border-style: solid;
  border-width: 1px 0 1px 1px;
  display: none;
  position: absolute;
  right: 0;
  box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.05);
  z-index: 1000
}

.user-dropdown.selected {
  display: block
}

@media (min-width: 641px) {
  .user-dropdown {
    width: 520px
  }
}

.user-menu .dropdown-column {
  width: 210px
}

.user-menu .dd-menu {
  padding-left: 0;
}

.user-menu .dd-menu,
.user-menu .dropdown-menu-header {
  line-height: 2.2
}
.user-menu .dd-menu li{
  list-style: none;
}
.user-menu .dropdown-menu-header {
  font-size: 14px;
  margin: 0 0 10px 0;
  font-weight: bold
}

.user-menu .dd-menu {
  font-size: 14px;
}

.user-menu .dd-menu .project-title {
  margin-bottom: 5px
}

.user-menu .dd-menu .project-thumb {
  vertical-align: middle;
  margin-right: 5px
}

.user-menu .dd-menu .view-all {
  margin: 20px 0
}

.user-options,
.user-menu-footer {
  padding: 30px
}

.user-menu-footer {
  background-color: #F7F7F9;
  color: #3D3D66;
  font-size: 12px
}

/*NAVBAR*/
.site-nav-frame,
.site-nav-frame *,
.site-nav-frame *:before,
.site-nav-frame *:after {
  box-sizing: border-box
}

.site-nav-frame {
  position: relative;
  overflow: hidden;
  box-shadow: 0px 4px 10px 0 rgba(22, 22, 22, 0.08);
  height: 60px;
}

.site-nav-frame a,
.site-nav-frame input {
  outline: none
}

.site-nav-frame--fixed {
  position: fixed;
  left: 24px;
  right: 24px
}

.site-nav-container {
  height: 100%
}

.site-nav-container {
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  position: relative
}

.site-nav-container--search {
  margin-top: -60px;
  z-index: 2
}

.site-nav-container--main.active-nav--primary {
  transform: translateY(0);
  -webkit-transform: translateY(0)
}

.site-nav-container--main.active-nav--secondary {
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%)
}

.site-nav--search-is-visible .site-nav-container--search {
  margin-top: 0
}

.site-nav-unit--search,
.site-nav-unit--primary,
.site-nav-unit--secondary {
  position: absolute;
  width: 100%
}

.site-nav-unit--search .site-nav-base,
.site-nav-unit--primary .site-nav-base,
.site-nav-unit--secondary .site-nav-base {
  width: 100%;
  height: 60px;

}
.site-nav-unit--primary {
  top: 0
}

.site-nav-unit--secondary {
  top: 60px
}

.site-nav-base {
  background-color: #FFFFFF;
  display: flex;
  flex-wrap: wrap
}

@media (min-width: 640px) {
  .site-nav-base {
    flex-wrap: nowrap;
    height: 60px
  }
}

.site-nav-mobile {
  border-bottom: 1px solid #F1EEEA;
  height: 60px;
  background-color: #FFFFFF
}

.site-nav-mobile a,
.site-nav-mobile input {
  outline: none
}

.site-nav__item--logo--mobile {
  height: 100%
}

.site-nav__left,
.site-nav__middle,
.site-nav__right {
  display: flex;
  height: 60px
}

@media (min-width: 640px) {
  .site-nav__left,
  .site-nav__middle,
  .site-nav__right {
    height: auto
  }
}

.site-nav__left {
  flex: 1
}

.site-nav__left .site-nav__item {
  margin-left: 24px
}

.site-nav__right {
  flex: 1;
  justify-content: flex-end
}

.site-nav__right .site-nav__item {
  margin-right: 24px
}

.site-nav--search {
  flex-wrap: nowrap
}

.site-nav--search .site-nav__item--close {
  margin-right: 24px
}

@media (min-width: 640px) {
  .site-nav--search .site-nav__item--close {
    margin-right: 108px
  }
}

.site-nav--search .site-nav__item--searchbar {
  -webkit-transition: all 0.15s 0.15s ease;
  -moz-transition: all 0.15s 0.15s ease;
  -o-transition: all 0.15s 0.15s ease;
  transition: all 0.15s 0.15s ease;
  margin-left: 24px;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%)
}

@media (min-width: 640px) {
  .site-nav--search .site-nav__item--searchbar {
    margin-left: 108px
  }
}

.site-nav--search .site-nav__item--searchbar.site-nav__item--searchbar--visible {
  -webkit-transform: translateX(0);
  transform: translateX(0)
}

.site-nav--primary .site-nav__left {
  flex: 2;
  order: 2
}

@media (min-width: 640px) {
  .site-nav--primary .site-nav__left {
    order: 1;
    display: flex
  }
}

.site-nav--primary .site-nav__middle {
  flex: 1;
  justify-content: center;
  order: 2;
  display: none
}

@media (min-width: 640px) {
  .site-nav--primary .site-nav__middle {
    display: flex
  }
}

.site-nav--primary .site-nav__right {
  flex: 2;
  order: 3
}

.site-nav--primary .site-nav__right .site-nav__item--user {
  margin: 0
}

@media (min-width: 640px) {
  .site-nav--primary .site-nav__right {
    order: 3
  }
}

.site-nav__item {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  position: relative;
  display: flex;
  color: #020621;
  text-decoration: none;
  flex-shrink: 0;
  overflow: hidden
}

@media (min-width: 640px) {
  .site-nav__item {
    margin-left: 24px;
    margin-right: 24px
  }
}

.site-nav__item .site-nav__item-label {
  align-self: center;
  white-space: nowrap
}


.site-nav__item--text:after {
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
  content: "";
  position: absolute;
  bottom: 0;
  height: 3px;
  left: 0;
  right: 0;
  background-color: #3472F7;
  -webkit-transform: translateY(6px);
  transform: translateY(6px)
}

.site-nav__item--text:focus:after,
.site-nav__item--text:hover:after {
  -webkit-transform: translateY(0px);
  transform: translateY(0px)
}

.site-nav__item--skip-to-content {
  position: absolute
}

.site-nav__item--about {
  display: none
}

@media (min-width: 900px) {
  .site-nav__item--about {
    display: flex
  }
}

.site-nav__item--logo {
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease
}

.site-nav__item--logo .svg--ksr-logo {
  width: 152px;
  display: flex;
  margin: auto
}

.site-nav__item--logo .svg-fill--kick {
  fill: #020621
}

.site-nav__item--logo .svg-fill--starter {
  fill: #3472F7
}

.site-nav__item--logo .svg-fill--pbc {
  fill: #3D3D66
}

.site-nav__item--logo .site-nav__item-label {
  display: none
}

.site-nav__item--logo:after {
  background-color: transparent
}

.site-nav__item--logo:focus {
  opacity: 0.5
}

.site-nav__item--search {
  fill: #060F46
}

@media (min-width: 640px) {
  .site-nav__item--search {
    margin-right: 0;
    display: flex
  }
}

.site-nav__item--search:hover,
.site-nav__item--search:focus {
  opacity: 0.3
}

.site-nav__item--search .icon__search {
  height: 16px;
  width: 16px;
  font-size: 1.5em;
}

.site-nav__item--search .site-nav__item-label {
  visibility: hidden;
  width: 0
}

.site-nav__item--close {
  margin-right: 60px;
  cursor: pointer
}

.site-nav__item--close:hover,
.site-nav__item--close:focus {
  opacity: 0.3
}

.site-nav__item--close .svg-icon__close {
  fill: #060F46;
  height: 12px;
  width: 12px
}

.site-nav__search-form {
  display: flex
}

input.site-nav__search-input {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  margin-left: 24px;
  border: none;
  color: #020621;
  box-shadow: none
}

input.site-nav__search-input:focus {
  box-shadow: none
}

.site-nav__item--searchbar .icon__search,
.site-nav__item--searchbar .svg-icon__loading-spin {
  fill: #060F46;
  height: 16px;
  width: 16px;
  align-self: center;
  margin-top: -7px;
  font-size: 1.5em;
}

.site-nav__item--user {
  padding-left: 24px;
  padding-right: 24px
}

.site-nav__item--user:focus {
  background-color: rgba(6, 15, 70, 0.2)
}

.site-nav__item--user .notification-indicator-and-avatar {
  position: relative;
  display: flex
}

.site-nav__item--user .notification-indicator-and-avatar .notification-indicator--active {
  position: absolute;
  top: 4px
}

.site-nav__user-avatar {
  width: 36px;
  height: 36px;
  border-radius: 100%;
  align-self: center;
  border: 1px solid transparent
}


.for-screenreader {
  position: absolute;
  top: -100px;
  width: 1px;
  height: 1px;
  overflow: hidden
}

/*LIVE SEARCH*/
.livesearch-wrap {
  background-color: #F7F7F9;
  border-bottom: solid 1px #F1EEEA;
  margin-top: -1px;
  padding: 40px 0
}

.livesearch-container {
  margin: 0 auto;
  position: relative;
  width: 960px
}

.livesearch-container .svg-icon__close {
  height: 10px;
  width: 10px;
  fill: #3D3D66
}

.livesearch-container .svg-icon__close:hover {
  fill: #020621
}

.livesearch-container .close {
  cursor: pointer
}

.livesearch-container .arrow {
  position: absolute;
  top: 240px;
  cursor: pointer;
  fill: #3D3D66
}

.livesearch-container .no-result-header {
  text-align: center
}

.livesearch-container .prev {
  left: -40px
}

.livesearch-container .next {
  right: -40px
}

.livesearch-container .icon__arrow-left,
.livesearch-container .icon__arrow-right {
  fill: #3D3D66;
  height: 15px;
  width: 15px;
  font-size: 2em;
  margin-top: -8px;
}

.livesearch-container .icon__arrow-left.disabled,
.livesearch-container .icon__arrow-right.disabled {
  display: none
}

.livesearch-header {
  margin-bottom: 20px;
  margin-left: 10px
}

.livesearch-results {
  overflow: hidden
}

.livesearch-list {
  overflow: hidden;
  width: 100000px;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}

.livesearch-list .livesearch-result {
  list-style: none;
  float: left;
  width: 220px;
  margin-left: 10px;
  margin-right: 10px;

}
.livesearch-see-all-results {
  margin: 10px;
  border: 1px solid #E6E4E2;
  color: #868686;
  padding: 20px 10px;
  width: calc(100% - 20px);
  font-weight: bold;
}
.livesearch-see-all-results:hover,.livesearch-see-all-results:active{
  color: #000;
}
.livesearch-see-all-results .bold{
  color: #000;
}
/*PROJECT CARD*/

.project-card-wide-wrap.project-card-wide-wrap--potd {
  border-radius: 0
}

.project-card-wide-wrap.project-card-wide-wrap--potd .project-thumbnail {
  position: relative;
  position: relative;
  height: auto
}

.project-card-wide-wrap.project-card-wide-wrap--potd .project-thumbnail:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 56.25%
}

.project-card-wide-wrap.project-card-wide-wrap--potd .project-thumbnail>.project-thumbnail-wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0
}

@media (min-width: 640px) {
  .project-card-wide-wrap.project-card-wide-wrap--potd .project-thumbnail {
    float: left;
    width: 50%;
    margin-right: 20px
  }
}

.project-card-wide-wrap.project-card-wide-wrap--potd .project-thumbnail__image {
  display: block;
  width: 100%
}

@media (min-width: 640px) {
  .project-card-wide-wrap.project-card-wide-wrap--potd .project-card-interior {
    padding: 0
  }
}

.ratio-16-9.project-ribbon {
  top: 0;
  margin-left: 10px
}

@media (min-width: 640px) {
  .ratio-16-9.project-ribbon {
    top: auto;
    margin-left: 2%
  }
}

.ratio-16-9 .project-thumbnail,
.ratio-16-9 .project-profile-feature-image {
  position: relative
}

.ratio-16-9 .project-thumbnail:before,
.ratio-16-9 .project-profile-feature-image:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 56.25%
}

.ratio-16-9 .project-thumbnail>.project-thumbnail-wrap,
.ratio-16-9 .project-profile-feature-image>.project-thumbnail-wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0
}
.ratio-16-9.project-card-tall-big {
  height: 420px
}
@media (min-width: 640px) {
  /*.ratio-16-9.project-card-tall-big {*/
  /*height: 420px*/
  /*}*/
}

.ratio-16-9.project-card-tall {
  height: 400px
}

.ratio-16-9.project-card-mini-wrap .project_thumbnail {
  height: 131px
}

.ratio-16-9.project-card-mini-wrap .project-card-mini__blurb {
  padding: 10px 15px
}

.NS_discover__featured_project.ratio-16-9 {
  min-height: 294px
}

.NS_user__projects_list.ratio-16-9 {
  width: 100%;
  margin-left: auto;
  margin-right: auto
}

.NS_user__projects_list.ratio-16-9 .project-card-wide-wrap,
.NS_user__projects_list.ratio-16-9 .project-card--spotlight {
  border-radius: 6px
}

@media (min-width: 640px) {
  .NS_user__projects_list.ratio-16-9 .project-card-wide-wrap,
  .NS_user__projects_list.ratio-16-9 .project-card--spotlight {
    border: none
  }
}

.NS_user__projects_list.ratio-16-9 .project-card-wide-wrap .one-pixel-divider,
.NS_user__projects_list.ratio-16-9 .project-card--spotlight .one-pixel-divider {
  display: none
}

@media (max-width: 640px) {
  .NS_user__projects_list.ratio-16-9 .project-card-wide-wrap .one-pixel-divider,
  .NS_user__projects_list.ratio-16-9 .project-card--spotlight .one-pixel-divider {
    display: block
  }
}

@media (max-width: 640px) {
  .NS_user__projects_list.ratio-16-9 .project-thumbnail-wrap img {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px
  }
}

.NS_user__projects_list.ratio-16-9 .project-card-interior {
  padding-top: 20px
}

.NS_user__projects_list.ratio-16-9 .project-card-footer {
  padding-right: 20px
}

.NS_users__profile.ratio-16-9 .profile_bio .profile_created_projects {
  width: 468px
}

.NS_users__profile.ratio-16-9 .profile_bio .profile_created_projects .project_thumbnail,
.NS_users__profile.ratio-16-9 .profile_bio .profile_created_projects .project_thumbnail img {
  height: 68px;
  width: 120px
}

.project-card--spotlight.ratio-16-9 .project-profile-feature-image {
  height: auto;
  min-height: auto;
  max-height: 180px
}

.featured-project__title.ratio-16-9 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

.featured-project__blurb.ratio-16-9 {
  position: relative;
  height: 44px;
  overflow: hidden
}

.featured-project__blurb.ratio-16-9:after {
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #fff 50%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(50%, #fff));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #fff 50%);
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #fff 50%);
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #fff 50%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #fff 50%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00f7fafa', endColorstr='#f7fafa', GradientType=1);
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30px;
  height: 22px
}

body#backings_index .project_thumb.ratio-16-9 {
  height: 22px
}

.thumb_square img {
  margin-left: -24px
}

.NS_project_profiles__feature_image.ratio-16-9 .project-profile__feature_image {
  min-height: 210px
}

@media (min-width: 640px) {
  .project-main-content-wrap {
    float: right
  }
}

@media (min-width: 640px) {
  .project-card-wide-wrap--potd.ratio-16-9 .project-card-interior {
    overflow: visible;
    margin-left: calc(20px + 50%)
  }
}

@media (min-width: 640px) {
  .home-staff-picks-pr0.ratio-16-9 {
    bottom: -8px
  }
}

.NS_projects__category_location.ratio-16-9 {
  margin-bottom: 15px
}

.featured-project__title.ratio-16-9 {
  margin-top: 15px;
  margin-bottom: 15px
}

.project-card-wide .project-profile-feature-image {
  width: 50%;
  max-height: auto
}

@media (min-width: 641px) {
  .project-card-tall {
    height: 418px
  }
  .project-card-tall .project-profile-feature-image {
    height: 171px
  }
}

.project-card-tall .project-profile-feature-image {
  min-height: 171px;
  position: relative
}

.project-card-tall .project-profile-feature-image a {
  position: absolute;
  top: 0;
  left: 0
}

.project-card-footer [class*="ksr-icon"] {
  font-size: 16px;
  height: 12px;
  width: 12px;
  fill: #3D3D66
}

@media (min-width: 641px) {
  .project-card-tall-big {
    height: 458px
  }
  .project-card-tall-big .project-profile-feature-image {
    height: 180px
  }
}

.project-card-tall-big .project-profile-feature-image {
  min-height: 180px
}

.project-card.project-card-tall,
.project-card.project-card-tall-big {
  background-color: #FFFFFF;
  border: solid 1px #F1EEEA;
  border-radius: 6px;
  line-height: 1.5;
  margin-bottom: 10px;
  position: relative;
  font-size: 12px
}

.project-card.project-card-tall:not(.project-card--spotlight),
.project-card.project-card-tall-big:not(.project-card--spotlight) {
  color: #3D3D66
}

.project-card.project-card-tall .project-thumbnail,
.project-card.project-card-tall-big .project-thumbnail {
  border-radius: 6px 6px 0 0;
  overflow: hidden;
  position: relative
}

.project-card.project-card-tall .project-thumbnail-img,
.project-card.project-card-tall-big .project-thumbnail-img {
  display: block
}

.project-card.project-card-tall .project-card-content,
.project-card.project-card-tall .project-card-footer,
.project-card.project-card-tall-big .project-card-content,
.project-card.project-card-tall-big .project-card-footer {
  padding: 10px
}

.project-card.project-card-tall .project-title,
.project-card.project-card-tall-big .project-title {
  font-size: 12px;
  font-weight: bold
}

.project-card.project-card-tall .project-title a,
.project-card.project-card-tall-big .project-title a {
  color: #020621
}

@media (max-width: 640px) {
  body:not(.widget) .project-card.project-card-tall .project-title,
  body:not(.widget) .project-card.project-card-tall-big .project-title {
    -webkit-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 16px
  }
}

.project-card.project-card-tall .project-byline,
.project-card.project-card-tall-big .project-byline {
  margin-bottom: 10px;
  font-size: 12px
}

.project-card.project-card-tall .project-blurb,
.project-card.project-card-tall-big .project-blurb {
  margin-bottom: 0;
  font-size: 12px
}

.project-card.project-card-tall .project-location,
.project-card.project-card-tall-big .project-location {
  margin-bottom: 5px
}

/*@media (max-width: 640px) {*/
/*body:not(.widget) .project-card.project-card-tall .project-blurb,*/
/*body:not(.widget) .project-card.project-card-tall .project-location,*/
/*body:not(.widget) .project-card.project-card-tall .project-byline,*/
/*body:not(.widget) .project-card.project-card-tall-big .project-blurb,*/
/*body:not(.widget) .project-card.project-card-tall-big .project-location,*/
/*body:not(.widget) .project-card.project-card-tall-big .project-byline {*/
/*display: none*/
/*}*/
/*}*/

.project-card.project-card-tall .project-card-footer,
.project-card.project-card-tall-big .project-card-footer {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #fff 26%);
  border-radius: 0 0 6px 6px;
  bottom: 0;
  width: 100%
}

@media (min-width: 641px) {
  .project-card.project-card-tall .project-card-footer,
  .project-card.project-card-tall-big .project-card-footer {
    position: absolute;
    padding-top: 45px
  }
}

.project-card.project-card-tall .project-progress-bar,
.project-card.project-card-tall-big .project-progress-bar {
  background-color: #F1EEEA;
  overflow: hidden;
  margin-bottom: 10px
}

@media (max-width: 640px) {
  .project-card.project-card-tall .project-progress-bar,
  .project-card.project-card-tall-big .project-progress-bar {
    border-radius: 4px;
    height: 8px
  }
}

@media (min-width: 641px) {
  .project-card.project-card-tall .project-progress-bar,
  .project-card.project-card-tall-big .project-progress-bar {
    border-radius: 3px;
    height: 6px
  }
}

.project-card.project-card-tall .project-progress-bar .project-percent-pledged,
.project-card.project-card-tall-big .project-progress-bar .project-percent-pledged {
  background-color: #3472F7;
  height: 100%
}

.project-card.project-card-tall .project-stats,
.project-card.project-card-tall-big .project-stats {
  margin-bottom: 0;
  margin-top: 5px
}

.project-card.project-card-tall .project-stats li,
.project-card.project-card-tall-big .project-stats li {
  display: inline-block;
  margin-left: 0
}

.project-card.project-card-tall .project-stats li:first-child,
.project-card.project-card-tall .project-stats li:nth-child(2),
.project-card.project-card-tall-big .project-stats li:first-child,
.project-card.project-card-tall-big .project-stats li:nth-child(2) {
  margin-right: 5px
}

.project-card.project-card-tall .project-stats-value,
.project-card.project-card-tall-big .project-stats-value {
  color: #020621;
  font-weight: bold
}

@media (max-width: 640px) {
  body:not(.widget) .project-card.project-card-tall .project-stats-value,
  body:not(.widget) .project-card.project-card-tall-big .project-stats-value {
    font-size: 16px
  }
}

.project-card.project-card-tall .project-pledged-successful,
.project-card.project-card-tall-big .project-pledged-successful {
  background-color: #3472F7;
  color: #FFFFFF;
  display: none;
  margin-left: -10px;
  margin-right: -10px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-top: 3px
}

.project-card.project-card-tall.successful .project-pledged-successful,
.project-card.project-card-tall-big.successful .project-pledged-successful {
  display: block
}

.widget .project-card.project-card-tall .project-profile-feature-image,
.widget .project-card.project-card-tall-big .project-profile-feature-image {
  height: 171px
}

.widget .project-card.project-card-tall .project-card-content,
.widget .project-card.project-card-tall-big .project-card-content {
  height: 236px
}

.widget .project-card.project-card-tall .project-card-footer,
.widget .project-card.project-card-tall-big .project-card-footer {
  position: absolute;
  padding: 45px 10px 10px 10px
}

.widget .project-card.project-card-tall .project-profile-footer,
.widget .project-card.project-card-tall-big .project-profile-footer {
  position: absolute;
  bottom: 0px
}

.friend-backers {
  margin-left: 10px
}

.friend-backers .friend-facepile {
  display: inline-block;
  height: 25px;
  vertical-align: middle
}

.friend-backers .friend-namepile {
  display: inline-block;
  font-size: 12px;
  line-height: 1.3em;
  margin-left: 4px;
  max-width: 60%;
  vertical-align: middle;
  margin-bottom: 0px
}

.project-card--spotlight .project-profile-feature-image {
  border-radius: 6px 6px 0 0;
  overflow: hidden;
  text-align: center;
  position: relative
}

.project-card--spotlight .project-profile-feature-image img {
  max-width: 100%;
  position: relative
}

.project-card--spotlight .project-card-content {
  position: relative
}

.project-card--spotlight .project-profile-card__background {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-size: cover;
  background-position: center center
}

.project-card--spotlight .project-profile-title {
  font-size: 16px;
  line-height: 1.2em;
  text-align: center;
  padding-bottom: 10px
}

.project-card--spotlight .project-profile-title a {
  color: inherit
}

.project-card--spotlight .project-profile-blurb {
  font-family: "Tiempos", Georgia, serif;
  text-align: center;
  height: 88px;
  overflow: hidden
}

/*.project-card--spotlight .project-profile-footer {*/
/*position: relative*/
/*}*/
.project-card--spotlight .project-profile-footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px
}
@media screen and (min-width: 640px) {
  /*.project-card--spotlight .project-profile-footer {*/
  /*position: absolute;*/
  /*bottom: 0px;*/
  /*left: 0px;*/
  /*right: 0px*/
  /*}*/
}

.project-card--spotlight .project-profile-footer .one-pixel-divider {
  height: 1px;
  margin: 0;
  opacity: 0.2;
  background: #666;
}

.project-card--spotlight .project-profile-footer__content {
  padding: 10px 10px 15px
}

.project-card--spotlight .project-profile-footer__content .avatar-image {
  width: 30px;
  height: 30px
}

.project-card--spotlight .project-profile-byline {
  margin: 0;
  line-height: 1.2em
}

.project-card--spotlight .project-profile-byline .backer-count {
  white-space: nowrap
}

.widget .project-card--spotlight .project-card-content.project-card-content {
  height: 247px
}

.project-card--spotlight.project-card-tall-big .project-profile-title {
  font-size: 20px
}

.project-card--spotlight.project-card-tall-big .project-card-content {
  font-size: 14px
}

.project-card--spotlight.project-card-tall-big .project-card-content,
.project-card--spotlight.project-card-tall-big .project-card-footer {
  padding: 10px 15px
}

.project-card-wide {
  background-color: #FFFFFF;
  border-radius: 6px;
  border: 1px solid #F1EEEA;
  font-size: 14px;
  position: relative
}

.project-card-wide .project-profile-feature-image {
  max-width: 100%;
  min-height: 255px
}

.project-card-wide .project-profile-feature-image img {
  display: block;
  margin: auto
}

@media screen and (min-width: 640px) {
  .project-card-wide .project-profile-feature-image {
    float: left;
    width: 340px;
    max-height: 260px
  }
}

@media screen and (min-width: 640px) {
  .project-card-wide .project-profile-feature-image {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px
  }
}

.project-card-wide .project-profile-title {
  font-size: 22px
}

.project-card-wide .project-profile-blurb {
  height: 80px
}

@media screen and (min-width: 640px) {
  .project-card-wide .project-profile-title,
  .project-card-wide .project-profile-blurb {
    text-align: left
  }
}

.project-card-wide .project-card-content {
  overflow: hidden;
  position: relative;
  padding: 20px
}

@media screen and (min-width: 640px) {
  .project-card-wide .project-card-content {
    min-height: 255px
  }
}

.project-card-wide .project-profile-title {
  margin-bottom: 20px
}

.project-card-wide .project-profile-footer {
  font-size: 12px
}

@media screen and (max-width: 640px) {
  .project-card-wide .project-profile-footer {
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -20px
  }
}

.project-card-wide .project-profile-footer__content {
  padding: 15px 20px
}
.project-card .project-profile-prize{
  padding: 10px;
  position: absolute;
  bottom: 55px;
  left: 0px;
  right: 0px;
}
.project-profile-prize .flag .flag-img{
  font-size: 2em;
  text-align: center;
  min-width: 42px;
}
/* TEXT CUT */

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

@media (max-width: 599px) {
  .text-truncate-xs {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  .text-truncate-sm {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
  }
}

@media (min-width: 900px) and (max-width: 1250px) {
  .text-truncate-md {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
  }
}

@media (min-width: 1250px) {
  .text-truncate-lg {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
  }
}
/* TYPE TEXT */

.type-132 {
  font-size: 13rem;
  line-height: 13.2rem
}

.type-100 {
  font-size: 10rem;
  line-height: 10.2rem
}

.type-66 {
  font-size: 6.6rem;
  line-height: 7.2rem
}

.type-60 {
  font-size: 6rem;
  line-height: 6.6rem
}

.type-48 {
  font-size: 4.8rem;
  line-height: 5.4rem
}

.type-38 {
  font-size: 3.8rem;
  line-height: 4.2rem
}

.type-34 {
  font-size: 3.4rem;
  line-height: 4.2rem
}

.type-28 {
  font-size: 2.8rem;
  line-height: 3.6rem
}

.type-24 {
  font-size: 2.4rem;
  line-height: 3rem
}

.type-21 {
  font-size: 2.1rem;
  line-height: 3rem
}

.type-18 {
  font-size: 1.8rem;
  line-height: 2.4rem
}

.type-16,
.job-listing ul li {
  font-size: 1.6rem;
  line-height: 2.4rem
}

.type-14 {
  font-size: 1.4rem;
  line-height: 2.4rem
}

.type-12 {
  font-size: 1.2rem;
  line-height: 1.8rem
}

.type-10 {
  font-size: 1rem;
  line-height: 1.2rem
}

/*FLAG*/

.flag {
  display: table;
  width: 100%
}

.flag .flag-img,
.flag .flag-body {
  display: table-cell;
  vertical-align: middle
}

.flag.flag-top .flag-img,
.flag.flag-top .flag-body {
  vertical-align: top
}

.flag.flag-bottom .flag-img,
.flag.flag-bottom .flag-body {
  vertical-align: bottom
}

.flag .flag-img {
  padding-right: 12px
}

.flag .flag-img>img {
  display: block;
  max-width: none;
  width: 30px;
}

.flag .flag-img .ss-icon {
  position: relative;
  top: 0.1em
}

.flag .flag-body {
  width: 100%
}

.flag-button {
  box-sizing: border-box;
  padding: 12px 24px;
  border-radius: 6px
}
.title-card{
  margin: 10px 0 0;
}
.title-card .title-bold{
  font-weight: 900;
  margin: 12px auto;
  line-height: 40px;
}
.title-card .btn-more{
  margin: 12px auto;
  text-align: right;
}

/* FILTER */
.filter-title{
  margin: 15px 0;
}
.filter-heading{
  margin-bottom: 0;
  line-height: 50px;
}
.filter-close{
  font-size: 2em;
  top: 40px;
  right: 15px;
  z-index: 5;
}
.filter.translate>.item-translate{
  -webkit-transform: translateY(13.2rem);
  -moz-transform: translateY(13.2rem);
  -ms-transform: translateY(13.2rem);
  -o-transform: translateY(13.2rem);
  transform: translateY(13.2rem);
  opacity: 0;
}

/* PROJECT DETAILS */
.project-details-header{
  padding: 30px 0;
}
.project-details-avatar{
  width: 64px;
  height: 64px;
  margin-bottom: 12px;
}
.project-details-title{
  margin-top: 0;
}
.project-details-des{
  color: #666;
}
.project-details-line-top{
  height: 0.3rem;
  width: 100%;
  background: #0B055E;
  margin-bottom: 18px;
}
.project-details-static-title{
  margin: 0;
  padding: 0;
  font-size: 24px;
  color: #353535;
}

.project-details-static-des{
  font-weight: normal;
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #666;
}
.project-details-static{
  margin-bottom: 1.2rem;
}
.project-details-statics{
  margin-bottom: 1.5rem;
}
.project-details-statics .time-element{
  margin-right: 0.5rem;
}
.project-details-statics .time-element .project-details-static-title,.project-details-statics .time-element .project-details-static-des{
  line-height: 1;
}
.project-details-statics .time-element .project-details-static-des{
  margin-bottom: 0.5rem;
}
.btn-social-group{
  margin: 12px 0;
}
.btn-social-group>div{
  padding: 0;

}
.btn-social-group>div:first-child{
  padding-right: 6px;
}
.btn-social-group>div:last-child{
  padding-left: 6px;
}

/*TAB NAV*/
.tabbed-nav__link.is-active {
  border-bottom: 3px solid #3472F7
}
.project-details-content{
  overflow: hidden;
  position: relative;
  padding-top: 65px;
}
.project-details-nav {
  position: absolute;
  background-color: #FFFFFF;
  width: 100%;
  border-top: 1px solid #F1EEEA;
  border-bottom: 1px solid #F1EEEA;
  z-index: 500;
  overflow: hidden;
  top: 0px;
  height: 64px;
}

.project-details-nav .container {
  position: relative;
  height: 100%;
}

@media screen and (max-width: 840px) {
  .project-details-nav {
    white-space: nowrap;
    overflow: scroll;
    -webkit-overflow-scrolling: touch
  }
}

.tabbed-nav {
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid #F1EEEA;
  text-align: center
}

.tabbed-nav__link {
  color: #353535;
  font-size: 1.4rem;
  font-weight: 500;
  border-bottom: 3px solid transparent;
  display: inline-block;
  padding: 20px 5px 17px;
  margin: 0 15px;
}

.tabbed-nav__link .count {
  color: #3472F7;
  vertical-align: super;
  font-size: 9px
}

.tabbed-nav__link.is-active {
  color: #000;
  border-color: #3472F7;
}


.project-details-nav .tabbed-nav__link .count {
  font-size: 10px
}

.project-nav__buttons{
  margin-top: 10px;
}

/*DETAILS COMMENT*/
.project-details-comments{
  padding: 1.8rem;
}
.project-details-comment{
  list-style: none;
  margin-bottom: 0.5rem;
}
.project-details-comment .avatar{
  width: 30px;
  height: 30px;
}
.project-details-comment .btn{
  padding: 0;
}
.comment-thumb-count{
  padding: 10px 4px 4px;
}
.project-details-comment .content {
  margin-left: 1.8rem;
  padding-left: 1.8rem;



}
.project-details-comment .content h3{
  margin: 0;
  font-size: 14px;
  margin-bottom: 5px;
  line-height: 30px;
}
.project-details-comment .content p{
  font-size: 14px;
  margin-bottom: 0;
}

/* TIMELINE */

.timeline-frame{
  padding: 20px;
  /*background: #FAFBFB;*/
  position: relative;
  margin: auto;
  border-radius: 6px;
  /*box-shadow: 0 2px 20px rgba(0,0,0,.3);*/
}

.timeline-panel:nth-child(odd){
  position: relative;
  text-align: left;
  margin-left: 50%;
  padding: 20px 0 20px 5px;
}
.timeline-panel:nth-child(even){
  position: relative;
  text-align: right;
  margin-right: 50%;
  padding: 20px 5px 20px 0;
}
.timeline-panel>h4{
  margin: 0;
  margin-bottom: 6px;
}

.timeline-panel>.timeline-line{
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: #ddd;
  top: 0;
  z-index: 1;
}
.timeline-panel:nth-child(odd)>.timeline-line{
  left: -1px;
}
.timeline-panel:nth-child(even)>.timeline-line{
  right: 0px;
}
.timeline-panel>.timeline-point{
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px #FAFBFB solid;
  background: #3472F7;
  top: 21px;
  z-index: 2;
}
.timeline-panel:nth-child(odd)>.timeline-point{
  left: -12px;
}
.timeline-panel .timeline-vertical-line{
  height: 1px;
  width: 25px;
  margin-top: 12px;
  background-color: #ddd;
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
  margin-left: 6px;
}
.timeline-time{
  line-height: 24px;
}
.timeline-panel:nth-child(odd) .timeline-time>div{
  float: left;
}
.timeline-panel:nth-child(even) .timeline-time>div{
  float: right;
}
.timeline-panel:nth-child(even)>.timeline-point{
  right: -12px;
}
.timeline-info{
  color: #353535;
  font-size: 0.9em;
  max-width: 100%;
  padding: 0 30px;
}
.timeline-panel.pass>.timeline-point{
  background: #aaa;
}
.timeline-panel.pass>.timeline-time,.timeline-panel.next>.timeline-time{
  color: #aaa;
}
.timeline-panel.pass>.timeline-info{
  color: #aaa;
}
.timeline-panel.pass>.timeline-info>.text-primary{
  color: #aaa!important;
}
.timeline-panel.next>.timeline-info>.description{
  color: #888;
}
.timeline-panel.next>.timeline-point{
  background: #353535;
}
.timeline-panel.next>.timeline-info>.text-primary{
  color: #353535!important;
}
.alert-edit{
  background-color: #3472F7!important;
  margin: 0;
}
@media screen and (min-width: 993px) {
  .alert-edit p{
    margin: 8px 0 0 0;
  }
}

@media screen and (max-width: 600px){
  .timeline-panel:nth-child(odd){
    margin-left: 0px;
  }
  .timeline-panel:nth-child(even) .timeline-time>div{
    float: left;
  }
  .timeline-panel:nth-child(even){
    text-align: left;
    margin-right: 0px;
    padding: 20px 0 20px 5px;
  }
  .timeline-panel:nth-child(even)>.timeline-line{
    left: -1px;
  }
  .timeline-panel:nth-child(even)>.timeline-point{
    left: -12px;
  }
}

/* PROJECT CREATE */
.number-circle{
  background-color: #3472F7;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  color: #fff;
  font-weight: 300;
  line-height: 36px;
  text-align: center;
  float: left;
}
.project-create{
  padding-bottom: 2rem;
}
.project-create .form-input{
  margin-left: 42px;
  width: calc(100% - 42px);
}
.project-create .form-input-group{
  padding: 10px;
}

/* PROJECT EDIT */
.project-edit {
  padding-bottom: 60px;
}

.project-edit .content .card{
  margin: 20px 0 0;
  padding: 10px;
  background: white;
  border-radius: 4px;
  box-shadow: 0px 0px 1px rgba(0,0,0,0.25);
}
.project-edit .timeline-preview{
  display: flex;
  flex-direction: row;
  background: #ddd;
  padding: 10px;
  border-radius: 4px;
}
.project-edit .timeline-preview .item{
  flex: 1;
  position: relative;
  padding-left: 20px;
  color: #3472F7;

}
.project-edit .timeline-preview .item.pass,.project-edit .timeline-preview .item.next{
  color: #353535;
}
.project-edit .timeline-preview .item::before{
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #3472F7;
  z-index: 0;
}

.project-edit .timeline-preview .item::after{
  position: absolute;
  content: "";
  top: calc(50% - 8px);
  left: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #3472F7;
  z-index: 0;
}
.project-edit .timeline-preview .item.pass::after,.project-edit .timeline-preview .item.pass::before,
.project-edit .timeline-preview .item.next::after,.project-edit .timeline-preview .item.next::before{
  background: #fff;
}
.project-edit .timeline-preview .item.next::before{
  background: repeating-linear-gradient(
    90deg,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 1) 5px,
    transparent 6px,
    transparent 11px
  );
}
.project-edit .event{
  position: relative;
}
.project-edit .event .event-title{
  background: #ddd;
  padding: 10px;
  border-radius: 4px;
}
.project-edit .event>.delete-btn{
  position: absolute;
  top: -24px;
  right: 0px;
  width: 24px;
  height: 24px;
}
@media screen and (max-width: 768px) {
  .project-edit {
    padding-left: 10px;
    padding-right: 10px;
  }
  .project-edit .event>.delete-btn{
    right: 5px;
  }
}
