<section class="project-create bg-grey-100 ">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
      <h1 class="text-primary">Get started</h1>
      <form [formGroup]="solutionForm" (ngSubmit)="createSolution(solutionForm)">
        <div class="content text-left">
          <div class="form-input-group">
            <div class="number-circle">1</div>
            <div class="form-input clearfix">
              <div class="form-group label-floating is-empty">
                <label class="control-label light type-18" for="title"><sup class="text-gray">*</sup> Give your solution
                  a title: </label>
                <input id="title" required type="text" class="form-control" formControlName="title"><span
                class="material-input"></span>

              </div>
              <div [hidden]="solutionForm.get('title').valid || solutionForm.get('title').untouched"
                   class="alert alert-danger">
                <div *ngIf="solutionForm.get('title').hasError('required')">
                  Title is required!
                </div>
              </div>
            </div>
          </div>
          <div class="form-input-group">
            <div class="number-circle">2</div>
            <div class="form-input clearfix">
              <div class="form-group label-floating is-empty">
                <label class="control-label light type-18" for="description"><sup class="text-gray">*</sup> Description
                  of solution:</label>
                <textarea required id="description" type="description" class="form-control"
                          formControlName="description"></textarea>
              </div>

              <div [hidden]="solutionForm.get('description').valid || solutionForm.get('description').untouched"
                   class="alert alert-danger">
                <div *ngIf="solutionForm.get('description').hasError('required')">
                  Description is required!
                </div>
                <div *ngIf="solutionForm.get('description').hasError('maxlength')">
                  Description must be no more than 200 character!
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-input-group">
          <div class="number-circle">3</div>
          <div class="form-input clearfix">
            <div class="form-group label-floating is-empty text-left">
              <label class="control-label light type-18" for="html"><sup class="text-gray">*</sup> Detail
                of solution:</label>
              <input required id="html" type="hidden" class="form-control" formControlName="html" [ngModel]="html">
              <div class="content">
                <div [froalaEditor]="titleOptions" [(froalaModel)]="html"></div>
              </div>

            </div>

            <div [hidden]="solutionForm.get('html').valid || solutionForm.get('html').untouched"
                 class="alert alert-danger">
              <div *ngIf="solutionForm.get('html').hasError('required')">
                Detail is required!
              </div>
            </div>
          </div>
        </div>

        <div class="text-center">
          <button type="submit" [disabled]="!solutionForm.valid || isSubmitting" class="btn btn-primary btn-fill btn-lg text-center">
            <span *ngIf="!isSubmitting">Create Solution</span>
            <span *ngIf="isSubmitting">Creating ./.</span>
          </button>
        </div>
      </form>

    </div>
  </div>
</section>
